* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
body {
  background-color: #000026;
}
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
