---
import "../styles/style.css";
import Newsletter from "../components/Newsletter.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <section>
      <h1>ABOUT US</h1>
      <div class="grid_about">
        <div>
          <p>Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen.</p>

          <p>In three weeks of February the festival presents a wide range of light based works such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.</p>

          <p>The Festival invites both international and local audiences of all ages to enjoy the city during the darkest and even the coldest time of the year.</p>
       <div class="liste"> <img src="../logo/back.png" alt="back" class="back"> <a href="/info/">More Info</a></div>
        </div>
        <div>
          <img src="/imgs/Echo.jpg" alt="echo_billede" />
        </div>
      </div>
    <Newsletter />
        </section>

</MainLayout>

    <style>
    
      h1 {
        text-shadow: #ffffff 1px 0 10px;
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
      }
      .grid_about {
        margin-right: 30px;
        margin-left: 30px;
      }
      p {
        margin-top: 30px;
         font-size: 17px;
      }
      img {
        margin-top: 30px;
              aspect-ratio: auto;
               width: 100%;
        height: auto;

      }
     
          a {
        margin-top: 26px;
        color: white;
        text-shadow: #ffffff 1px 0 15px;
    }
a:hover{
    text-shadow: #8f7cd4 1px 0 30px;
  }
    
      .liste {
  display: flex;
  align-items: center; /* Align items vertically */
}

.liste img {
  margin-right: 10px; /* Add some spacing between image and text */
}
.back {
    width: 30px;
    transform: rotate(180deg);
    margin-right: 10px;
}
      @media (min-width: 800px) {
        h1 {
          top: 35%;
          left: 40%;
          text-shadow: #ffffff 1px 0 10px;
          text-align: center;
          font-size: 50px;
        }
        .grid_about {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-right: 50px;
          margin-left: 50px;
          margin-top: 50px;
          gap: 30px;
          margin-bottom: 150px;
        }
        p {
          font-size: 17px;
        line-height: 30px;
        }
      section{
        margin-bottom: 150px;
      }
      }
    </style>
  </body>


</html>
