---
import "../styles/style.css";
import Button from "../components/Button.astro";
import Countdown from "../components/Countdown.astro";
import Newsletter from "../components/Newsletter.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<!DOCTYPE html>
<MainLayout>
  <section class="hero_section">
    <img src="/imgs/hero.jpg" alt="hero" class="hero_img" />
    <div class="text_hero">
      <h1>COPENHAGEN LIGHT FESTIVAL</h1>
      <h2>2. februar - 25 februar 2024</h2>
    </section>

    <section class="grid_forside">
      <Button variant="primary" link="/aboutus/">When</Button>
      <Button variant="primary" link="/aboutus/">What</Button>
      <Button variant="primary" link="/routes/">Where</Button>
    </section>

  <section class="mobile">
    <article>
      <div>
      <h2 class="info_header">“Copenhagen Light Festival looks forward to making a strong return in 2024”</h2>
      </div>
      <div class="grid_1">
        <img src="/imgs/discoheart.jpg" alt="discoheart" class="hero_img" />
        <p class="info_text">Copenhagen Light Festival also wishes to bring even bigger light installations to Copenhagen’s city center, which will require support and help.The festival therefore hopes that the planning of the 2024 edition will be spared by energy crises or worse, so that light may once again shine on the important state-owned buildings in the city center, an aspect of the festival that we’ve missed in 2023. This is something we hope to realize in 2024.</p>
      </div>
    </article>
  </section>

  <Countdown />

  <section class="mobile">
    <article class="grid_1">
      <section>
        <h2 class="installioner_header">INSTALLATIONER</h2>
          <p class="installationer_text">
            Copenhagen Light Festival is an annual light festival that transforms the quiet and cold winter darkness into a unique celebration of light art, lighting design and illumination in the center of Copenhagen.<br />In three weeks of February the festival presents a wide range of light based works – such as sculpture, installation, projection mapping, event and illumination created by both established and upcoming light artists, lighting designers, students and organizations.<br />
            The Festival invites both international and local audiences of all ages to enjoy the city during the darkest and even the coldest time of the year.
          </p>
		  </section>
		  <section class="installation_info">
          <img src="/imgs/installation.jpg" alt="billede_installation" class="insta"/>
        	<Button variant="secondary" link="/listeview/" class="knap">READ MORE</Button>
		</section>
      </article>
    <Newsletter />
  </section>

  <style>
  .hero_section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 100px;
      align-items: center;
    }
    .hero_section img {
      grid-column: 1/-1;
      grid-row: 1/-1;
      z-index: -1;
      object-fit: cover;
      aspect-ratio: 16/9;      
       width: 100%;
        height: auto; 

    }

    .text_hero {
      grid-column: 1/-1;
      grid-row: 1;
      text-align: center;
      text-shadow: #ffffff 1px 0 10px;
      margin-top: 100px;
      
    }
    
     .text_hero h1 {
        font-size: 20px;
        margin-bottom: 2px;
      }
      .text_hero h2 {
        font-size: 10px;
        margin-top: 0px;
      }

    .grid_forside {
      grid-column: 1/-1;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      text-shadow: #ffffff 0px 0px 5px;
      gap: 10px;
      margin: 20px;

    }
      .mobile {
        margin: 50px;
      }

      .info_header {
        font-size: 13px;
        line-height: 30px;
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
      }
      .info_text {
        font-size: 12px;
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 70px;
      }

      .installioner_header {
        font-size: 17px;
        line-height: 30px;
        margin-top: 50px;
        margin-bottom: 30px;
      }
      .installationer_text {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 30px;
      }

      .insta{
        margin-top: 10px;
        margin-bottom: 50px;
        aspect-ratio: auto;
        width: 100%;
        height: auto;
      }
      .installation_info{
        text-align: center;
      
      }
    
      @media (min-width: 800px) {
    .hero_section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 500px 500px;
      align-items: center;
    }
    .hero_section img {
      grid-column: 1/-2;
      grid-row: 1/-1;
      z-index: -1;
      margin-top: -200px;
         object-fit: cover;
      aspect-ratio: 16/9; 
       width: 100%;
        height: auto;
      
    }

    .text_hero {
      grid-column: 1/-1;
      grid-row: 1;
      text-align: center;
      text-shadow: #ffffff 1px 0 10px;
    margin-top: 90px;
  
  }
    .grid_forside {
      grid-column: 1/-1;
      grid-row: 2;
      display: flex;
      flex-direction: row; 
      justify-content: center;
      gap: 8rem;
      text-shadow: #ffffff 1px 0 10px;
      margin-top: -450px;
    }

  
    .text_hero h1 {
      font-size: 70px;
    }
    .text_hero h2 {
      font-size: 30px;
    }
    .mobile {
      margin: 100px;
    }

    .info_header {
      font-size: 30px;
      line-height: 90px;
        margin-top: 300px;
      margin-bottom: 30px;
      
    }
    .info_text {
      font-size: 20px;
      line-height: 40px;

      margin-bottom: 50px;
    }
    .grid_1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    .installioner_header {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 30px;
      text-shadow: #ffffff 1px 0 10px;
    }
    .installationer_text {
      font-size: 20px;
      line-height: 40px;
      margin-bottom: 30px;
    }
     .insta{
        margin-top: 140px;
        margin-bottom: 50px;
        aspect-ratio: auto;
         width: 100%;
        height: auto;
      }


   
  }
    
  </style>
  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("Feb 2, 2024").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {
      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));

      // Display the result in the element with id="demo"
      document.getElementById("demo").innerHTML = days + "<br> DAYS";

      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
  </script>
</MainLayout>
