---
import "../styles/style.css";
const response = await fetch('https://gxqipuzmwnqaaqqtzgbe.supabase.co', {
	apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd4cWlwdXptd25xYWFxcXR6Z2JlIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYyNTg1MzYsImV4cCI6MjAxMTgzNDUzNn0.NBMkCZW8IMgJXmcQdF-njUpbH2nBk8jiw94xbDr287s"
})
const data = await response.json();
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copenhagen Light Festival</title>
</head>
<header>

</header>
<body>
    



</body>
<footer>

</footer>
</html>
