---
import Installation from "../components/Installation.astro";
const data = await fetch("https://augemxyhxliaasohflww.supabase.co/rest/v1/CLF", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1Z2VteHloeGxpYWFzb2hmbHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTQ0NTgsImV4cCI6MjAxMjA3MDQ1OH0.h5CxkQ4yzFOQ2nrSvU-bqL6KvJjnQ2a_EPZneeQ5Dwg",
  },
}).then((res) => res.json());
import "../styles/style.css";
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
console.log("DATA",data)
---

<MainLayout>
      <h1>INSTALLATIONS</h1>

  <section class="grid_1">
        <Button variant="secondary" link="#light">Light Installations</Button>
      <Button variant="secondary" link="#popUp">Pop-Up Events</Button>
      <Button variant="secondary" link="#ekstraLight">Extra Light Experiences</Button>
    </section>

    <h2 id="light">LIGHT INSTALLATIONS</h2>
    <section class="installation">
{data.map(show=>{
    if (show.type==="Light") {
return <Installation data={show}/> 
    }
})
}
</section>

<h2 id="popUp">POP-UP EVENTS</h2>
<section class="installation">
{data.map(show=>{
  if (show.type==="PopUp"){
return <Installation data={show}/> 
  }
})
}
</section>

<h2 id="ekstraLight">EXTRA LIGHT EXPERIENCES</h2>
<section class="installation">
{data.map(show=>{
    if (show.type==="EkstaLight"){
return <Installation data={show}/> 
    }
}) 
}
</section>
</MainLayout>

<style>
  .grid_1 {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      text-shadow: #ffffff 0px 0px 5px;
      gap: 20px;
      margin-bottom: 60px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }

   
   h1 {
      text-align: center;
      text-shadow: #ffffff 1px 0 10px;
      margin-bottom: 5px;
      margin-top: 30px;
    }
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    .installation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      margin-bottom: 100px;
margin-right: 40px;
margin-left: 20px;    }
   
  
  .installation img{
    width: 50px;
  }

 @media (min-width: 800px) {
  .grid_1 {
      grid-column: 1/-1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      text-shadow: #ffffff 0px 0px 5px;
      gap: 80px;
      margin-top: 40px;
      margin-bottom: 150px;
    }


h1{
    text-align: center;
    text-shadow: #ffffff 1px 0 10px;
    margin-bottom: 5px;
    font-size: 2.8rem;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.7rem;
  }
  .installation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 150px;
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 300px;
    margin-top: 100px;
  }
  .installation img {
    width: 300px;
  }

        }



 
</style>
