---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/style.css";
---
<MainLayout>
    <h1>Routes</h1>
    <img src="../img/Location_map_Denmark_Copenhagen.png" alt="">
</MainLayout>
<style>
    h1{
        text-align: center;
        margin-top: 50px;
        text-shadow: #ffffff 1px 0 10px;
    }
    img{
        width:500px;
        height: auto;
    }
</style>