---
const {variant} = Astro.props;
---

<a class={variant}><slot/></a>
	
<style>
.primary {
background-color: black;
color: white;
font-family: "Signika", sans-serif;
font-size: 0.7rem;
font-weight: 400;
padding: 15px 20px;
border: solid 1px white;
box-shadow: 0 0 20px 10px white;
}

.secondary {
background-color: black;
color: white;
font-family: "Signika", sans-serif;
font-size: 0.7rem;
font-weight: 400;
padding: 15px 20px;
border: solid 1px hotpink;
box-shadow: 0 0 20px 10px hotpink;
}
</style>