---
const { variant, link } = Astro.props;
---

<a class={variant} href={link}><slot /></a>

<style>
  .primary {
    background-color: #000026;
    color: white;
   font-family: "Raleway", sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    padding: 10px;
    border: solid 1px white;
    box-shadow: 0 0 10px 5px white;
    border-radius: 10px;
  }
      @media (min-width: 800px) {

   .primary {
    background-color: #000026;
    color: white;
  font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 13px 50px;
    border: solid 1px white;
    box-shadow: 0 0 20px 10px white;
  }
  
  .primary:hover{
    background-color: white;
    color: black;
  }}
  a {
    text-decoration: none;
  }

  .secondary {
    background-color: black;
    color: white;
  font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 15px 20px;
    border: solid 1px #7D65D0;
    box-shadow: 0 0 20px 5px #7D65D0;
   border-radius: 10px;
  }

.secondary:hover{
    background-color: #7D65D0;
    color: black;
  }


  .third{
    background-color: #000026;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 30px 106px;
    border: solid 1px white;
    box-shadow: 0 0 20px 5px white;
    text-align: center;
    gap: 10px;
    max-width: 200px;
  }

        @media (min-width: 800px) {
.third{
    background-color: #000026;
    color: white;
  font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 30px 60px;
    border: solid 1px white;
    box-shadow: 0 0 20px 5px white;
    text-align: center;
    margin: auto;
    gap: 10px;
  }



  .third:hover{
 background-color: white;
    color: black;  
}}

  .fourth{
    background-color: #000026;
    color: white;
   font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 40px;
    border: solid 1px white;
    text-align: center;

  }
  .fourth:hover{
    background-color: black;
        box-shadow: 0 0 20px 5px white;


  }
</style>
