
<section class="countdown mobile">
<p id="demo"></p>
<p class="countdown_text">TO GO</p>
</section>

<style>
     .countdown{
	border: white solid 2px;
	text-align: center;
	font-size: 80px;
 	 box-shadow: 0px 0px 20px 2px white;
     margin: 300px;
     margin-left: 500px;
     margin-right: 500px;
     padding: 60px;

}
    .countdown_text{
	font-size: 50px;
    margin-top: 40px;
}
      @media screen and (max-width: 800px) {
    .countdown{
	border: white solid 2px;
	text-align: center;
	font-size: 40px;
 	 box-shadow: 0px 0px 20px 2px white;
     margin: 40px;

}
    .countdown_text{
	font-size: 20px;
}}

</style>