
<section class="countdown mobile">
<p id="demo"></p>
<p class="countdown_text">TO GO</p>
</section>

<style>
    p{
        	font-size: 30px;


    }

    .countdown_text{
	font-size: 30px;
    margin-top: 40px;
}
    .countdown{
	border: white solid 2px;
	text-align: center;
	font-size: 70px;
 	 box-shadow: 0px 0px 20px 2px white;
     margin: 40px;
     padding: 40px;

}

@media (min-width: 800px) {
    .countdown_text{
	font-size: 30px;
}

     .countdown{
	border: white solid 2px;
	text-align: center;
	font-size: 50px;
 	 box-shadow: 0px 0px 20px 2px white;
     margin: 300px;
     margin-left: 500px;
     margin-right: 500px;
     padding: 60px;

}}

</style>