<header>
  <div class="logo">
    <img src="logo.png" alt="Dit Logo" />
  </div>
  <nav>
    <ul class="desktop-menu">
      <li><a href="#">INSTALLATIONS</a></li>
      <li><a href="#">ROUTES</a></li>
      <li><a href="#">ABOUT US</a></li>
    </ul>
  </nav>
  <div class="burger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</header>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000026;
  }
  header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 40px;
    box-shadow: 0 5px 50px rgba(125, 101, 208, 20);
  }

  .logo img {
    max-width: 100px; /* logo's størrelse */
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Ændret til flex for at placere menuen til venstre */
  }

  nav ul li {
    margin-right: 40px; /* Afstand mellem menuelementerne */
  }

  nav ul li:last-child {
    margin-right: 0; /* afstanden til højre for det sidste element */
  }

  nav ul li a {
    text-decoration: none;
    color: white; /* Tekstfarven for menu-links */
    font-weight: bold;
  }

  .burger-menu {
    display: none;
  }

  /* Ændringer til menuen ved mindre skærmstørrelser (responsivt design) */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
    }

    .logo {
      margin-bottom: 10px;
    }

    nav ul {
      text-align: left;
      display: none; /* Skjul menuen på mindre skærme */
    }

    .burger-menu {
      display: block; /* Vis burger-menu på mindre skærme */
      flex-direction: column;
      cursor: pointer;
    }

    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 3px 0;
    }

    .mobile-menu {
      display: none;
      background-color: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 2;
    }

    .mobile-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .mobile-menu ul li {
      margin: 20px 0;
    }

    .mobile-menu ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }
</style>
