---
const { data } = Astro.props;
console.log(data);
import Button from "./Button.astro";
---

<a href={`/installations/${data.slug}`}>
  <article>
    <img src={"/imgs/" + data.img} alt="" />
    <h2>{data.artname}</h2>
    <!-- <Button variant="fourth">READ MORE</Button> -->
  </article>
</a>

<style>
  h2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  article {
    text-align: center;
  }
  a{
    text-decoration: none;
  }
 
</style>
