---
import Button from "./Button.astro";
---

<section class="newsletter mobile">
  <img class="newsletter_image" src="https://copenhagenlightfestival.org/wp-content/uploads/2020/02/Trampoline_02-1.jpg" alt="" />

  <form>
    <h3 class="newsletter_header">Get updated about the festival! <br>Sign up with your email below</h3>

     <label for="email"></label>
    <input type="email" id="email" name="email" required placeholder="Email address" /><br /><br />

    <label for="first_name"></label>
    <input type="text" id="first_name" name="first_name" required placeholder="First name" /><br /><br />

    <label for="last_name"></label>
    <input type="text" id="last_name" name="last_name" required placeholder="Last name" /><br /><br />

   

    <input type="submit" value="SUBMIT" class="submit" />
  </form>
  <Button />
</section>
<style>
  article {
    margin: 300px;
  }

  .newsletter_header {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
    margin: 40px;
  }
  input {
    background-color: #d9d9d9;
    color: grey;
    padding: 20px;
    border: none;
    margin-left: 40px;
  }
  .submit {
    background-color: #000026;
    color: white;
    font-family: "Signika", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px 30px;
    border: solid 1px white;
    box-shadow: 0 0 20px 5px white;
    margin-top: 30px;
    margin-left: 95px;
  }

  img {
    justify-content: center;
    margin-top: 30px;
  }
  .newsletter {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    margin-bottom: 100px;
  }

  @media screen and (min-width: 800px) {
    .newsletter_image {
      justify-content: center;
      width: 50%;
      margin-left: 342px;
    }

    .newsletter {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .newsletter_header {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 30px;
      margin: 40px;
    }
    input {
      background-color: #d9d9d9;
      color: grey;
      padding: 10px;
      border: none;
      margin-left: 40px;
    }
    .submit {
     background-color: black;
    color: white;
    font-family: "Signika", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 10px 30px;
    border: solid 1px white;
    box-shadow: 0 0 20px 5px white;
    margin-top: 30px;
    margin-left: 80px;
    }

    img {
      justify-content: center;
    }
  }
</style>
