---
import '../styles/style.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
---




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Copenhagen Light Festival">

    <title>Installations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Raleway:wght@500;800&family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
  <header>
    <Header />
  </header>

  <body>
    <main>
        <slot></slot>
    </main>
  </body>

  <footer>
<Footer/>
</footer>

</body>
</html>
 


